body{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 25px;
    font-size: 5rem;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width:100px;
    height: 80px;
    border-radius: 50px;
    color: white;
    background-color: hsl(0, 0%, 30%);
    border: none;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);

}

.opertion-btn{
    background-color: hsl(39, 100%, 55%);
}

.opertion-btn:hover{
    background-color: hsl(39, 100%, 65%);
}

.opertion-btn:active{
    background-color: hsl(39, 100%, 75%);
}